h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
}

.table-container {
    overflow-x: auto;
    max-height: 200px; /* Limite de 5 lignes pour le défilement vertical */
   
    max-width: 90%; /* Limite la largeur maximale du conteneur */
    margin-top: 50px; /* Ajoute de l'espace au-dessus du tableau */
}

table {
    width: auto; /* Ajuste la largeur à son contenu */
    max-width: 100%; /* Limite la largeur du tableau à 100% du conteneur */
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Empêche le texte de se casser à la ligne */
}

thead th {
    position: sticky;
    top: 0;
    z-index: 1; /* Assure que les en-têtes restent au-dessus du contenu du tableau */
    background-color: #f2f2f200; /* Couleur de fond des en-têtes */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.text-custom-success {
    color: green;
}

.text-custom-warning {
    color: orange;
}
.salade {
    background-color: white;
    width: 80vw;
    height: 100vh;
    overflow-y:scroll ;
    margin: 0 auto;
    border-radius: 2em;
    padding: 2em;
    
  }



  .mask-custom {
    background: #6a563d81;
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }

 
  .btn-add-row {
    background-color:#6a563d; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Marge intérieure */
    border: none; /* Supprime la bordure */
    border-radius: 20px; /* Bordure arrondie */
    cursor: pointer; /* Curseur de souris */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Supprime les décorations de texte */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    margin-top: 20px; /* Marge supérieure */
}

.btn-add-row:hover {
    background-color:  #f1f1f1; /* Couleur de fond au survol */
}
