<div class="salade">
  <div class="card mask-custom shadow">
      <div class="card-body p-4">
          <div class="text-center pt-3 pb-2">
              <h2 class="my-4 title">Add Your Order</h2>
          </div>
          <form>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Date</span>
                          <input class="form-control shadow-none" type="date" name="date" required>
                      </div>
                  </div>
              </div>
              <div class="sub-title">* Salades</div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Salade Thon</span>
                          <input class="form-control shadow-none" type="text" name="saladeThon" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Salade Poulet</span>
                          <input class="form-control shadow-none" type="text" name="saladePoulet" value="0">
                      </div>
                  </div>
              </div>
              <div class="sub-title">* Sandwiches</div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Sandwiches poulet crudités</span>
                          <input class="form-control shadow-none" type="text" name="sandwichesPouletCrudites" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Sandwiches thon crudités</span>
                          <input class="form-control shadow-none" type="text" name="sandwichesThonCrudites" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Sandwiches végétarien</span>
                          <input class="form-control shadow-none" type="text" name="sandwichesVegetarien" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Sandwiches poulet mexicain</span>
                          <input class="form-control shadow-none" type="text" name="sandwichesPouletMexicain" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Sandwiches chèvre miel crudités</span>
                          <input class="form-control shadow-none" type="text" name="sandwichesChevreMielCrudites" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Sandwiches poulet curry</span>
                          <input class="form-control shadow-none" type="text" name="sandwichesPouletCurry" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Sandwiches saumon</span>
                          <input class="form-control shadow-none" type="text" name="sandwichesSaumon" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Panini 4 fromages</span>
                          <input class="form-control shadow-none" type="text" name="panini4Fromages" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Panini poulet Kebab</span>
                          <input class="form-control shadow-none" type="text" name="paniniPouletKebab" value="0">
                      </div>
                  </div>
              </div>
              <div class="sub-title">* Viennoiseries</div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Pain au chocolat</span>
                          <input class="form-control shadow-none" type="text" name="painAuChocolat" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Croissant</span>
                          <input class="form-control shadow-none" type="text" name="croissant" value="0">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Pains suisses</span>
                          <input class="form-control shadow-none" type="text" name="painsSuisses" value="0">
                      </div>
                  </div>
              </div>
          </form>
          <!-- Bouton "+" pour ajouter une nouvelle ligne -->
          <div class="text-center mt-3">
              <button onclick="addNewRow()" class="btn btn-add-row shadow-none"><ion-icon name="add-outline"></ion-icon> Add new order</button>
          </div>
      </div>
  </div>
</div>



<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />
<!-- Ionicons JS -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="../../static/css/addOrders.css">
<script src="../../static/js/addOrders.js"></script>
  </script>