<div class="salade">
 
    <div class="card mask-custom">
        <div class="card-body p-4 text-white">
    
          <div class="text-center pt-3 pb-2">
            <h2 class="my-4">Add Your Order</h2>
          </div>

          <form>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Date</span>
                  <input class="form-control" type="date" required>
                </div>
              </div>
            </div>
            <div></div>
            <div> * Salads </div>
            <div></div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Salade Thon</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Salade Poulet</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
            </div>
            <div></div>
            <div> * Sandwichs </div>
            <div></div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Sandwiches poulet crudités</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Sandwiches thon cruditès</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Sandwiches végétarien</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Sandwiches poulet mexicain</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Sandwiches chèvre miel crudités</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Sandwiches poulet curry</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Sandwiches saumon</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Panini 4 fromages</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Panini poulet Kebab</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
            </div>
            <div></div>
            <div> * Pastries </div>
            <div></div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Pain au chocolat</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Croissant</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Pains suisses</span>
                  <input class="form-control" type="text" value="0">
                </div>
              </div>
            </div>      
            
          </form>

          <!-- Bouton "+" pour ajouter une nouvelle ligne -->
          <div class="text-center mt-3">
            <button onclick="addNewRow()" class="btn btn-add-row"><ion-icon name="add-outline"></ion-icon> Add new order</button>

        </div>
    
    
        </div>
      </div>
   
     
    
</div>



<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />
<!-- Ionicons JS -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="../../static/css/addOrders.css">
<script src="../../static/js/addOrders.js"></script>
  </script>