<link rel="stylesheet" href="../../static/css/head.css" />
<div class="d-flex justify-content-around">
  <figure class="salade-head">
    <img class="hovred-img" src="../../static/utils/images/salade.jpg" alt="Mountains" />
    <figcaption>Salades</figcaption>
  </figure>
  <figure class="sandwich-head">
    <img class="hovred-img" src="../../static/utils/images/sandwich.jpg" alt="Mountains" />
    <figcaption>Sandwich</figcaption>
  </figure>
  <figure class="viennoiseries-head">
    <img class="hovred-img" src="../../static/utils/images/viennoiseries.jpg" alt="Mountains" />
    <figcaption>Viennoiseries</figcaption>
  </figure>
</div>
<script src="../../static/js/head.js"></script>
