<link rel="stylesheet" href="../../static/css/head.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-Qcd1oKv9yK9rdk3ZiCo6HKH2P4G9PcUO8LprZEaHk1Hn+B8OjDh7oKHTBnXr4S4EltT6zFyQ0c2wU9lq4pIXCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="d-flex justify-content-around">
  <figure class="salade-head">
    <img class="hovred-img" src="../../static/utils/images/salade.jpg" alt="Mountains" />
    <figcaption>Salades</figcaption>
  </figure>
  <figure class="sandwich-head">
    <img class="hovred-img" src="../../static/utils/images/sandwich.jpg" alt="Mountains" />
    <figcaption>Sandwich</figcaption>
  </figure>
  <figure class="viennoiseries-head">
    <img class="hovred-img" src="../../static/utils/images/viennoiseries.jpg" alt="Mountains" />
    <figcaption>Viennoiseries</figcaption>
  </figure>
</div>
<script src="../../static/js/headOrders.js"></script>
