
<div class="salade">
    {% include 'components/headOrders.html' %}

  
    <div class="card mask-custom">
        <div class="card-body p-4">
    
          <div class="text-center pt-3 pb-2">
            <h2 class="my-4">Salad's Orders</h2>
          </div>
          <div class="table-container">
          <table id="orders-table" class="table text-white mb-0">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Salade Thon</th>
                <th scope="col">Salade Poulet</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="orders-body">
            
            </tbody>
          </table>
          </div>

    
        </div>
      </div>
   
     
    
</div>



<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />
<!-- Ionicons JS -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="../../static/css/saladeOrders.css">
<script src="../../static/js/saladeOrders.js"></script>
  </script>