<div class="sandwich">
  {% include 'components/head.html' %}
  <div class="shadow-sm py-2 px-3 sandwich-1">
    <div class="d-flex my-2 justify-content-between">
      <h3 class="chart-title">Sandwichs poulet crudités</h3>
      <select class="form-select shadow-none select-0">
        <option selected value="semaine">Semaine</option>
        <option value="mois">Mois</option>
        <option value="tout">Tout</option>
      </select>
    </div>
    <div class="">
      <canvas id="myChart0" ></canvas>
    </div>
  </div>
  <div class="shadow-sm py-2 px-3 sandwich-1">
    <div class="d-flex my-2 justify-content-between">
      <h3 class="chart-title">Sandwichs thon crudités</h3>
      <select class="form-select shadow-none select-1">
        <option selected value="semaine">Semaine</option>
        <option value="mois">Mois</option>
        <option value="tout">Tout</option>
      </select>
    </div>
    <div class="d-flex my-2 justify-content-between">
      <canvas id="myChart1"></canvas>
    </div>
  </div>
  <div class="shadow-sm py-2 px-3 sandwich-1">
    <div class="d-flex my-2 justify-content-between">
      <h3 class="chart-title">Sandwichs végétarien</h3>
      <select class="form-select shadow-none select-2">
        <option selected value="semaine">Semaine</option>
        <option value="mois">Mois</option>
        <option value="tout">Tout</option>
      </select>
    </div>
    <div class="d-flex my-2 justify-content-between">
      <canvas id="myChart2"></canvas>
    </div>
  </div>
  <div class="shadow-sm py-2 px-3 sandwich-1">
    <div class="d-flex my-2 justify-content-between">
      <h3 class="chart-title">Sandwichs poulet mexicain</h3>
      <select class="form-select shadow-none select-3">
        <option selected value="semaine">Semaine</option>
        <option value="mois">Mois</option>
        <option value="tout">Tout</option>
      </select>
    </div>
    <div class="d-flex my-2 justify-content-between">
      <canvas id="myChart3"></canvas>
    </div>
  </div>
  <div class="shadow-sm py-2 px-3 sandwich-1">
    <div class="d-flex my-2 justify-content-between">
      <h3 class="chart-title">Sandwichs chèvre miel crudités</h3>
      <select class="form-select shadow-none select-4">
        <option selected value="semaine">Semaine</option>
        <option value="mois">Mois</option>
        <option value="tout">Tout</option>
      </select>
    </div>
    <div class="d-flex my-2 justify-content-between">
      <canvas id="myChart4"></canvas>
    </div>
  </div>
  <div class="shadow-sm py-2 px-3 sandwich-1">
    <div class="d-flex my-2 justify-content-between">
      <h3 class="chart-title">Sandwichs poulet curry</h3>
      <select class="form-select shadow-none select-5">
        <option selected value="semaine">Semaine</option>
        <option value="mois">Mois</option>
        <option value="tout">Tout</option>
      </select>
    </div>
    <div class="d-flex my-2 justify-content-between">
      <canvas id="myChart5"></canvas>
    </div>
  </div>
  <div class="shadow-sm py-2 px-3 sandwich-1">
    <div class="d-flex my-2 justify-content-between">
      <h3 class="chart-title">Sandwichs saumon</h3>
      <select class="form-select shadow-none select-6">
        <option selected value="semaine">Semaine</option>
        <option value="mois">Mois</option>
        <option value="tout">Tout</option>
      </select>
    </div>
    <div class="d-flex my-2 justify-content-between">
      <canvas id="myChart6"></canvas>
    </div>
  </div>
  <div class="shadow-sm py-2 px-3 sandwich-1">
    <div class="d-flex my-2 justify-content-between">
      <h3 class="chart-title">Panini 4 fromages</h3>
      <select class="form-select shadow-none select-7">
        <option selected value="semaine">Semaine</option>
        <option value="mois">Mois</option>
        <option value="tout">Tout</option>
      </select>
    </div>
    <div class="d-flex my-2 justify-content-between">
      <canvas id="myChart7"></canvas>
    </div>
  </div>
  <div class="shadow-sm py-2 px-3 sandwich-1">
    <div class="d-flex my-2 justify-content-between">
      <h3 class="chart-title">Panini poulet Kebab</h3>
      <select class="form-select shadow-none select-8">
        <option selected value="semaine">Semaine</option>
        <option value="mois">Mois</option>
        <option value="tout">Tout</option>
      </select>
    </div>
    <div class="d-flex my-2 justify-content-between">
      <canvas id="myChart8"></canvas>
    </div>
  </div>
</div>

<link rel="stylesheet" href="../../static/css/sandwich.css" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../static/js/sandwich.js"></script>
